.challenge-page .banner {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.challenge-page .banner .title {
    font-weight: bold;
    font-size: 54px;
    line-height: 64px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
}

.details-button {
    width: 185px;
    height: 48px;
    background: #FA8C16;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.challenge-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-top: 100px;*/
}

.title {
    width: 620px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #2D4C68;
}

.subtitle {
    width: 620px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    font-style: italic;
    color: #2D4C68;
}

.text {
    width: 620px;
    font-size: 18px;
    line-height: 28px;
    color: #2D4C68;
    opacity: 0.9;
}

.webinar-items {
    margin-top: 8px;
}

.webinar-items .text span {
    color: #2D4C68;
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .details-button {
        margin-left: 0px;
    }

    .challenge-description .text {
        font-size: 14px;
        width: 100%;
    }

    .banner .title {
        font-size: 40px;
        width: 100%;
        text-align: center;
    }

    .title {
        font-size: 20px;
        width: 100%;
    }

    .subtitle {
        font-size: 20px;
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 824px) {
    .details-button {
        margin-left: 0px;
    }

    .banner .title {
        font-size: 36px !important;
        text-align: center;
    }

    .challenge-description {
        margin-top: 21px !important;
    }

    .challenge-description .title {
        text-align: center;
    }

    .challenge-description .subtitle {
        text-align: center;
    }

    .text {
        font-size: 36px;
        text-align: center;
    }


}


.challenge-page .content-text {
    width: 620px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2D4C68;
    opacity: 0.9;
    margin-bottom: 25px;
}

.challenge-page .donate-button {
    width: 220px;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
    background: #FA8C16;
    color: #FFFFFF;
}

.challenge-page .details-back {
    width: 293px;
    height: 48px;
    background: #FA8C16;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    font-size: 18px;
    /*margin-left: 33%;*/
}

.challenge-page .button-alain {
    text-align: center !important;
}