.user-page .user-content {
  top: 80px;
  background: url("user-background.png");
}

.user-page .content-title, .club-title {
  padding-top: 65px;
  padding-left: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2D4C68;
}

.user-page .club-title {
  padding-top: 54px;
  display: flex;
}

.user-page .add-club-dropdown {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  text-align: center;
  padding-right: 86px;
}

.user-page .add-club-dropdown .ant-btn {
  width: 139px;
  height: 40px;
  background: #FA8C16;
  border: 1px solid #FA8C16;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.user-page .anticon-plus {
  font-size: 21px;
  text-align: center
}

.user-page .ant-dropdown-menu {
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.user-page .ant-dropdown-menu-item > a {
  font-size: 14px;
  line-height: 22px;
  color: #2D4C68;
}

.user-page .ant-dropdown-menu-item:hover > a {
  color: #FA8C16;
}

@media (max-width: 849px) {
  .user-page .user-content .user-profile-page {
    background-color: #ffffff;
    height: 244px;
    border-radius: 16px;
    margin-top: 85px;
    margin-left: 28px;
    margin-right: 86px;
    display: flex;
    justify-content: space-between;
  }}

@media (min-width: 850px) {
.user-page .user-content .user-profile-page {
  background-color: #ffffff;
  height: 244px;
  border-radius: 16px;
  margin-top: 32px;
  margin-left: 28px;
  margin-right: 86px;
  display: flex;
  justify-content: space-between;
}}


.user-page .user-content .user-info {
  width: 100%;
  display: flex;
  padding-top: 4%;
  margin-left: 5%;
}


.user-page .user-content .user-name {
  padding-left: 28px;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: #2D4C68;
}


.user-page .user-content .user-role {
  padding-left: 28px;
  font-size: 18px;
  line-height: 32px;
  color: #2D4C68;
  opacity: 0.6;
}

.user-page .user-contacts {
  padding-left: 136px;
  padding-top: 27px;
}

.user-page .user-phone, .user-email {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #2D4C68;
}

.user-page .user-email {
  padding-top: 22px;
}

.user-page .user-phone-data, .user-email-data {
  display: inline-block;
  margin-left: 42px;
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  font-weight: normal;
}

.user-page .user-email-data {
  margin-left: 70px;
}

@media (min-width: 850px) {
  .edit-button {
    width: 80%;
    display: flex;
    margin-right: 4%;
    justify-content: flex-end;
    padding-right: 42px !important;
    font-size:medium;
    align-content: center;
  }
}

@media (max-width: 849px) {
  .edit-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 11% !important;
    margin-top: 5%;
    font-size:medium;
    align-content: center;
  }
}

.user-profile-page .ant-btn-text {
  font-weight: 600;
  font-size: 100%;
  line-height: 100%;
  color: #2E69C9;
  border: none;
  display: flex;
  align-items: center;
}

.user-profile-page .anticon-arrow-right {
  font-size: 95%;
  line-height: 50%;
  align-items: center;
}

@media (max-width: 1200px) {
  .content-title {
    padding-top: 150px !important;
  }
}

@media (max-width: 850px) {
  .content-title, .club-title {
    padding-left: 100px !important;
  }


  .user-profile-page {
    display: block !important;
    height: 280px !important;
    width: 85%;
  }

  .edit-button {
    padding-left: 36%;
    padding-top: 5px;
    padding-left: 45px;
    margin-bottom: 2%;
  }
}


@media (min-width: 851px) {
  .content-title, .club-title {
    padding-left: 100px !important;
  }


  .user-profile-page {
    margin-left: 100px !important;
    display: block !important;
    height: 280px !important;
    margin-right: 120px !important;
    min-width: 280px;
  }

  .edit-button {
    padding-top: 5px;
   // padding-left: 45px;
  }
}

@media (max-width: 500px) {
  .menu-component {
    padding-left: 0;
  }

  .user-contacts {
    padding-left: 40px !important;
    min-width: 250px;
  }

  .ant-avatar {
    height: 50px !important;
    width: 50px !important;
  }

  .user-page .user-phone-data, .user-email-data {
    margin-left: 15px !important;
  }

  .user-page .user-email-data {
    margin-left: 40px !important;
  }

  .user-page .user-phone, .user-email {
    font-size: 14px;
  }

  .user-page .user-email {
    padding-top: 10px;
  }

  .edit-button {
    //padding-top: 15px;
    //padding-left: 25px;
  }

  .user-page .add-club-dropdown .ant-btn {
    width: 72px;
    height: 40px;
    background: #FA8C16;
    border: 1px solid #FA8C16;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0;
    line-height: 24px;
    color: #FFFFFF;
  }

  .user-page .anticon-plus {
    font-weight: bold;
    font-size: 22px;
    margin-top: 4px;
    margin-left: 9px;
  }

}

@media (min-width: 320px) and (max-width: 824px) {
  .ant-avatar {
    height: 42px !important;
    width: 40px !important;
  }
}
