.user-page .user-content {
    height: 100vh;
    top: 80px;
    background: url("user-background.png");
}

.user-page .content-title, .club-title {
    padding-top: 65px;
    padding-left: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #2D4C68;
}

.user-page .club-title {
    padding-top: 54px;
    display: flex;
}

.add-club-dropdown {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: center;
    padding-right: 86px;
}

.user-page .ant-btn {
    width: 139px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #FA8C16;
    text-align:center;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FA8C16;
}

.user-page .anticon-plus {
    font-size: 21px;
    text-align:center
}

.ant-dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.ant-dropdown-menu-item >a  {
    font-size: 14px;
    line-height: 22px;
    color: #2D4C68;

}

.ant-dropdown-menu-item:hover >a  {
    color: #FA8C16;
}

.user-page .user-content .user-profile {
    background-color: #ffffff;
    height: 244px;
    border-radius: 16px;
    margin-top: 32px;
    margin-left: 50px;
    margin-right: 86px;
    display: flex;
    flex-direction: column;
}

.user-page .user-content .user-info {
    display: flex;
    padding-top: 40px;
    margin-left: 40px;
}


.user-page .user-content .user-name {
    padding-left: 28px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: #2D4C68;
}


.user-page .user-content .user-role {
    padding-left: 28px;
    font-size: 18px;
    line-height: 32px;
    color: #2D4C68;
    opacity: 0.6;
}

.user-contacts {
    padding-left: 136px;
    padding-top: 27px;
}

.user-phone, .user-email {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2D4C68;
}

.user-email {
    padding-top: 22px;
}

.user-phone-data, .user-email-data {
    display: inline-block;
    margin-left: 42px;
    font-size: 16px;
    line-height: 32px;
    font-style: normal;
    font-weight: normal;
}

.user-email-data {
    margin-left: 70px;
}

.user-info .edit-button {
    display: flex;
    flex-grow: 1;
}

.user-info .ant-btn-text {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: center;
    padding-right: 43px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2E69C9;
    border: none;
}

.user-info .anticon-arrow-right{
    padding-left: 11px;
    font-size: 20px;
    align-items: center;
}

@media (max-width: 1100px) {
    .user-page .content-title, .club-title {
        padding-top: 175px;
    }
}

@media (max-width: 700px) {
    .user-page .content-title, .club-title {
        padding-left: 104px;
    }

    .user-info .edit-button {
        display: block;
        padding-left: 120px;
    }
}
