.user-page {
  margin: 0 -87px -20px -87px;
}

@media (max-width: 1100px) {

  .user-page   .layout .global-content,
  .layout .header {
    padding: 0 10px 0 10px;
  }

  .layout .header {
    justify-content: space-between;
  }
}

