.user-page {
}

@media (max-width: 1300px) {
  .user-page   .layout .global-content,
  .layout .header {
    padding: 0 10px 0 10px;
  }

  .layout .header {
    justify-content: flex-start;
  }
}

.ant-dropdown-trigger {
  cursor: pointer;
}

