.pagination {
    width: 940px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.news-content{
    display: flex;
    justify-content: center;
}

.news-content .newslist {
    margin-right:50px;
}