.childIcon {
    width: 45px;
    margin-right: 5px;
    user-select: none;
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
    width: 100%;
    white-space: normal;
    color: #595959;
    padding: 0;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.childDetails, .userDetails {
    width: 300px;
}

.clubName {
    font-weight: bold; 
}  

.aproveButton {
    border-radius: 16px;
    
}