.addCenter .ant-modal-body {
    display: flex;
    height: 600px;
    padding: 0;
}

@media screen
and (min-device-width: 1080px) {
    .addCenter {
        padding-bottom: 0;
        overflow: hidden;
        border-radius: 16px;
    }
}

@media screen
and (max-device-width: 1080px) {
    .addCenter {
        padding-bottom: 0;
        overflow: hidden;
        border-radius: 16px;
        margin-left: -304vw;
        margin-top: -200vh;
        margin-block-end: auto;
    }
}

.addCenter .ant-steps-item-title {
    padding: 0px;
    text-align: left;
}


.addCenter .layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.addCenter .content {
    background-color: white;
    width: 628px;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;

}

.addCenter .input-data {
    height: 87%;
    overflow: hidden;
}

.addCenter .modal-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #2D4C68;
    margin-bottom: 32px;
}

.addCenter .side {
    background-color: #FAFAFA;
    height: 100%;
    width: 252px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding: 20px;
}

.addCenter .ant-steps-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.addCenter .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background: #FA8C16;
    color: white;
}

.addCenter .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #FA8C16;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addCenter .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
    color: white;
    text-align: center;
    vertical-align: middle;
}

.addCenter .ant-steps-item-wait .ant-steps-item-icon {
    background: #E8E8E8;
    border: none;
}

.addCenter.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: #2D4C68;
}

.addCenter .input-label {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addCenter .btn {
    justify-content: space-between;
    display: flex;
}

.addCenter .next-btn {
    float: right;

    padding: 8px 24px;
    width: 190px;
    height: 40px;
    background: #FA8C16;
    border-radius: 6px;
    border: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.addCenter .prev-btn {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FA8C16;
    border: 0;
    background-color: #FFFFFF;
}

.addCenter .finish-btn {
    text-align: center;
    padding: 8px 24px;
    width: 280px;
    height: 40px;
    background: #FA8C16;
    border-radius: 6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
}

.addCenter .start {
    display: flex;
    justify-content: flex-end;
}

.addCenter .form-item {
    display: flex;
    flex-direction: column;
}

.addCenter .ant-form-item-label {
    text-align: left;
}

.addCenter .form-item label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: #2D4C68;
}

.addCenter .form-item input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
}

.addCenter .half {
    display: flex;
}