.contacts {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts label {
    font-size: 18px;
    text-align: left;
    padding-right: 16px;
    display: block;
    color: #2D4C68;
    display: block;
}

.contacts .ant-row {
    display:block;
}