.title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:#002766;
    line-height: 22px;
}


.name {
    width: 222px;
    margin-left:15px;
}

.content {
    height:24px;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    margin-top:10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:#2D4C68;
    line-height: 24px;
}

.clubItem {
    border-bottom: 1px solid #F5F5F5;
    height: 85px;
    box-sizing: content-box;
    padding: 20px 34px;
}

.address-icon{
    font-size: 1.5em;
    color: #FFA62C;
    margin-right:10px;
}


