.layout-map .markItem{
    padding: 24px;
}

.layout-map .title {
    font-size: 18px;
    font-weight: bold;
    color:#002766;
    line-height: 28px;
    margin-bottom: 15px;
}

.layout-map .description{
    font-size: 14px;
    font-weight: 400;
    color:#2D4C68;
    line-height: 24px;
    margin-bottom: 15px;
}
.layout-map .markItem .address {
    display: flex;
    align-items: center;
}

.layout-map .markItem .address .text {
    color: #2D4C68;
    opacity: 0.6;
    font-weight: 600;
}

.layout-map .content{
    margin-bottom: 15px;
}

.layout-map .bt{
    font-weight: 600;
    height: 40px;
    width: 100%;
    color: #FA8C16;
    border-color: #FA8C16;
    border-radius: 8px;
}