.user-page .ant-layout-sider-dark {
  min-width: 382px !important;
  width: 382px !important;
  background: #FFFFFF;
}

.menu-component {
  padding-top: 54px;
  padding-left: 93px;
  height: 400px;
}

.menu-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2D4C68;
  opacity: 0.6;
}

.sider-profile {
  padding-top: 40px;
}

.icon-user {
  padding-right: 7px;
  padding-left: 4px;
}

.user-prof, .sider-message {
  color: #D46B08;
}

.sider-message {
  padding-top: 36px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #2D4C68;

}

.icon-message {
  margin-right: 6px;
}

@media (max-width: 1100px) {
  .user-page .ant-layout-sider-dark {
    position: absolute;
    height: 124px !important;
    width: 10000% !important;
    max-width: 10000% !important;
  }

  .menu-component {
    padding-top: 24px;
    padding-left: 16px;
    width: 10000px !important;
  }

  .menu-title {
    padding-top: -100px;
  }

  .sider-profile {
    padding-top: 10px !important;
  }

  .sider-message {
    padding-top: 3px !important;
    display: flex;
  }
}

@media (max-width: 700px) {
  .user-page .ant-layout-sider-dark {
    position: absolute;
    padding-left: 85px;
  }
}
