.news-not-found {
    margin: 0 -87px -20px -87px;
    background: white;
    border-top: 2px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}

.news-page .image {
    height: 400px;
    border-radius: 8px;
}

.news-page .social-media {
    display: flex;
    height: 30px;
    width: 300px;
    align-self: center;
}

.news-page .social-media .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin-left: 5px;
    padding-top: 5px;
}

.news-page .social-media .icon {
    color: #2D4C68;
    font-size: 1.3em;
}

.news-page .social-media .text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2D4C68;
    vertical-align: center;
}

.news-page .donate-button {
    width: 220px;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
    background: #FA8C16;
    color: #FFFFFF;
}

.news-page .donate-button:hover {
    color: white;
    background: #FFA940;
}

.news-page .social-info {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
}

.news-page .help-button {
    display: flex;
    align-items: center;
}

.news-page .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;

}
.news-page .content-title {
    width: 820px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #2D4C68;
}
.news-page #date {
    margin-top:20px;
    font-size: 25px;
}


.news-page .content-text {
    width: 620px;
    font-size: 18px;
    line-height: 28px;
    color: #2D4C68;
    opacity: 0.9;
}

