.aboutProject .title {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.aboutProject .title .text {
    font-weight: bold;
    font-size: 54px;
    line-height: 64px;
    display: inline-block;
    color: #FFFFFF;
}

.aboutProject .title .content {
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
    display: inline-block;
    color: #FFFFFF;
}

.aboutProject .social-media {

    display: flex;
    height: 30px;
    width: 300px;
    align-self: center;
}

.aboutProject .social-media .links {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin-left: 5px;
}

.aboutProject .social-media .icon {
    color: #2D4C68;
    font-size: 1.3em;
}

.aboutProject .social-media .text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2D4C68;
    vertical-align: center;
}

.aboutProject .donate-button {
    width: 220px;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
    background: #FA8C16;
    color: #FFFFFF;
}

.aboutProject .donate-button:hover {
    color: white;
    background: #FFA940;
}

.aboutProject .social-info {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 84px;
}

.aboutProject .help-button {
    display: flex;
    align-items: center;
}


.aboutProject .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.aboutProject .content .title-content {
    padding-top:0;
    width: 620px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #2D4C68;
    text-align: center;
}

.aboutProject .content-text {
    width: 620px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2D4C68;
    opacity: 0.9;
    margin-bottom: 50px;
}

.aboutProject .organaizer {
    width:100%;
}

.aboutProject .row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    margin-bottom:80px;
}

.aboutProject .row .col {
    box-sizing: border-box;
    width:75%;
    /*height:360px;
     */
    margin: 0px 15px 15px 15px;
    
}
.aboutProject .row .info{
    padding-top: 0px;
    padding-bottom: 45px;
}
.aboutProject .row .col .text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2D4C68;
    opacity: 0.9;
}
.aboutProject .row .col .name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #2D4C68;
    margin-top:20px;
    margin-bottom: 6px;
}
.aboutProject .row .col .position {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2D4C68;
    opacity: 0.6;
}

.aboutProject .content .sport {
    text-align: left;
}

.aboutProject .sport-clubs .video {
    width:100%;
    margin-top: 20px;
    margin-bottom: 120px;
}

.aboutProject .addit-information{
    margin-top:100px;
}

.aboutProject .image {
    height:auto;
    max-width:100%;
    margin-top: 32px;
    margin-bottom: 120px;
}

.image {
    position: static;
    width: 431px;
    height: 360px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
}