.user-edit .ant-modal-body {
  padding: 0 !important;
}
 .ant-modal-content {
  border-radius: 16px;
  height: auto;
}

.user-edit .ant-modal-content {
  border-radius: 16px;
  height: auto;
}

.ant-modal-password-content {
  border-radius: 16px;
  height: 340px;
}

 .short-text {
  display: none;
}

.user-edit .edit-header {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #002766;
  font-weight: 700;
  border-radius: 16px;
  margin-top: 32px;
  margin-left: 40px;
}

.user-edit .ant-modal-close-x {
  padding-top: 17px;
  padding-right: 18px;
}

.user-edit .ant-modal-close-icon {
  color: #595959;
  font-size: 22px;
}

.user-edit .button-container {
  padding-top: 24px;
  display: flex;
  height: 48px;
  padding-left: 40px;
  background: #FFFFFF;
}

.user-edit .ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}

.user-edit .ant-radio-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF7E6;
  height: 48px;
  width: 180px;
  border: 0;
  font-size: 18px;
  line-height: 32px;
  border-radius: 4px;
}

.user-edit .ant-radio-button-wrapper:hover,
.user-edit .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #FFFFFF;
  color: black;
  box-shadow: 0 2px 4px rgba(51, 51, 50, 0.12);
  z-index: 1;

  .ellipse {
    background: #FA8C16;
  }
}

.user-edit .ant-radio-button-wrapper:last-child {
  left: -5px;
}

.user-edit .button-box {
  display: flex;
}

.user-edit .ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background: #FFC069;
  border-radius: 50%;
  margin-right: 8px;
}

.user-edit .user-icon {
  color: #FFFFFF;
  font-size: 21px;
}

.user-edit .ant-row {
  display: block;
  justify-content: flex-end;
}

.user-edit .user-edit-column {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}


.user-edit .user-edit-password {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border-radius: 50%;
}

.user-edit .user-edit-input {
  height: 100%;
  width: 436px;
  font-size: 16px;
  line-height: 24px;
}

//.user-edit .user-edit-box {
//    height: 40px;
//    width: 436px;
//    border-radius: 6px;
//}

.user-edit .user-edit-row .label {
  font-size: 18px;
  padding-right: 16px;
  color: #2D4C68;
}

.user-edit .ant-form-item-required {
  text-align: left;
}


.user-edit .submit-button {
  padding: 8px 24px;
  width: 270px;
  height: 40px;
  background: #FA8C16 !important;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF !important;
}

.user-edit .user-edit-footer {
  float: right;
  margin-right: 40px;
}