@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.body {
  font-family: 'Open Sans', sans-serif;
}

.ant-layout {
  background: none;
}

.layout {
  background: #f7f0e0;
}

.behind-header {
  position: absolute;
  height: 250px;
  width: 100%;
  background: url("images/header-bg.png");
  background-size: cover;
}

.header {
  color: #fff;
  z-index: 1;
  background: none;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 87px 0 87px;
  justify-content: space-between;
  align-items: center;
}

.header .right-side-menu {
  display: flex;
  align-items: center;
}

.header .logo {
  background: url("images/logo.png") no-repeat;
  background-size: contain;
  width: 120px;
  height: 50px;
  vertical-align: middle;
}

.outlined-button,
.outlined-button:active,
.outlined-button:focus {
  background: none;
  border-radius: 6px;
}

.outlined-button:hover {
  background: none;
}

.support-button {
  border-color: white;
  color: white;
}

.support-button:hover {
  color: @primary-hover-color;
  border-color: @primary-hover-color;
}

.flooded-button,
.flooded-button:active,
.flooded-button:focus {
  background: white;
  border: none;
  color: @primary-hover-color;
  font-weight: 700;
}

.flooded-button:hover {
  color: white;
  background: @primary-hover-color;
}


.header .city {
  margin: 0 1.4vw 0 4vw;
}

.header .city .icon {
  font-size: 1.5em;
}

.header .nav-menu {
  line-height: 2em;
  font-size: 1em;
  font-weight: 600;
  background: none;
  border-bottom: none;
}

.header .nav-menu .ant-menu-item a {
  color: white;
}

.header .ant-menu-item {
  margin: 0 10px;
}

.layout .global-content {
  z-index: 1;
  padding: 20px 87px 20px 87px;
  min-height: 500px;
}


.footer {
  background: white;
  height: 200px;
}

.search .ant-select-clear {
  background: none;
  display: inline-block;
}

.search .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: none;
  background: none;
  border: none;
  padding: 0;
  border-bottom: 2px solid white;
  height: 30px;
}

.search .ant-select-single .ant-select-selector .ant-select-selection-search {
  left: 0;
}

.search .ant-select-selection-placeholder,
.ant-select-arrow {
  color: white;
}

.search .ant-select-arrow {
  top: 31%;
}

.right-col {
  display: flex;
  justify-content: flex-end;
}

.city-name-box {
  font-size: 20px;
}
.city-name {
  color: white;
}

.card {
  height: 288px;
  width: 296px;
  color: black;
  box-shadow: 0px 100px 80px rgba(1, 16, 44, 0.03), 0px 12.5216px 10.0172px rgba(1, 16, 44, 0.035);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 28px;
}

.card .ant-card-head-title {
  white-space: normal;
}

.cards .ant-space-item {
  margin-right: 0;
  padding-bottom: 0;
}

.card .title {
  display: flex;
  align-items: center;
  line-height: 22px;
  width: 100%;
  height: 43.5px;
}

.card .title .name {
  color: #002766;
  font-size: 16px;
  font-weight: 700;
  margin-left: 7px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.icon-box {
  display: inline-flex;
  min-width: 42px;
  min-height: 42px;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.icon {
  pointer-events: none;
  user-select: none;
  width: 24px;
  height: 24px;
}

.card .details-button {
  font-weight: 600;
  height: 40px;
  width: 100%;
  color: @primary-hover-color;
  border-color: @primary-hover-color;
}

.card .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 71px;
  margin: 0;
}

.card .details-button:hover {
  color: #002766;
  border-color: #002766;
}

.card .address {
  color: #2D4C68;
  height: 24px;
  margin: 0;
  display: flex;
  font-weight: 600;
}

.card .address .text {
  opacity: 0.6;
}

.card .address-icon {
  font-size: 1.5em;
  color: #FFA62C;
  margin-right: 11px;
  margin-left: 4px;
}

.cards {
  min-height: 83vh;
  align-content: flex-start;
  justify-content: space-around;
  max-width: 1268px;
  min-width: 628px;
}

.clubs {
  align-items: center;
}

.cards:last-child {
  margin-bottom: 0;
}

.cards .empty {
  background: none;
  box-shadow: none;
  border: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.cards .ant-card-body {
  padding: 0;
  width: 248px;
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.cards .empty .ant-card-body {
  padding: 0;
}

.cards .ant-card-head {
  border-bottom: none;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .ant-pagination-item-link:hover {
  color: #000;
}

.pagination .ant-pagination-item:hover {
  text-decoration: none;
  background-color: @primary-hover-color;
}

.pagination .ant-pagination-item:focus a,
.ant-pagination-item-active {
  color: black;
  background-color: @primary-hover-color;
  border-color: @primary-hover-color;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

.loader .bar {
  position: relative;
  height: 2px;
  background-color: white;
  border-radius: 25px;
  animation-name: loader-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.full-width {
  width: 100%;
}

@keyframes loader-animation {
  0% {
    width: 0%;
  }
  49% {
    width: 100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
    width: 100%
  }
}

@media (max-width: 800px) {
  .cards {
    min-width: 0;
  }

  .layout .global-content,
  .layout .header {
    padding: 20px 50px 0 50px;
  }
}

@media (max-width: 650px) {
  .layout .global-content,
  .layout .header {
    padding: 0 10px 10px 10px;
  }

  .center-side {
    order: 1;
  }
}

@media (max-width: 500px) {

  .behind-header {
    height: 320px;
  }

  .header .right-side-menu {
    order:  2;
    width: 100%;
    justify-content: space-around;
  }

  .city-name-box {
    min-width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .search .ant-select-arrow {
    top: 55%;
    right: 0;
  }
}
